<div class="container" style="margin-top: 70px">
  <div class="row">
    <h2 class="text-center mb-4 display-6 text-secondary">Planets of {{ star_name }}</h2>
    <div class="col-sm-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Planet Name</th>
            <th scope="col">Radius</th>
            <th scope="col">Mass</th>
            <th scope="col">Density</th>
            <th scope="col">Surface Temperature</th>
            <th scope="col">Apoapsis</th>
            <th scope="col">Periapsis</th>
            <th scope="col">Eccenctricity</th>
            <th scope="col">Orbital Period</th>
            <th scope="col">Status</th>
            <th scope="col">Number of Moons</th>
            <th scope="col">Contributed By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planet of planets">
            <td style="cursor: pointer" [routerLink]="['/planets', planet._id]" [queryParams]="{ star_id: star_id}">{{ planet.name }}</td>
            <td>{{ planet.radius | number }} km</td>
            <td>{{ planet.mass }} M<sub>🜨</sub></td>
            <td>{{ planet.density }} g/cm<sup>3</sup></td>
            <td>{{ planet.surface_temperature }} K</td>
            <td>{{ planet.apoapsis | number }} km</td>
            <td>{{ planet.periapsis | number }} km</td>
            <td>{{ planet.eccentricity }}</td>
            <td>{{ planet.orbital_period }} days</td>
            <td>{{ planet.status }}</td>
            <td>{{ planet.num_moons }}</td>
            <td>{{ planet.contributed_by }}</td>
          </tr>
        </tbody>
      </table>
      <a [routerLink]="['/new_planet/', star_id]" class="btn btn-success" style="margin-top: 20px; cursor: pointer"
        >Add Planet</a
      >
    </div>
  </div>
</div>
