<div class="container" style="margin-top: 70px">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2 class="text-center mb-4 display-6 text-secondary">User Management</h2>
      <p><strong>Username: </strong>{{ user?.username }}</p>
      <p><strong>Forename: </strong>{{ user?.forename }}</p>
      <p><strong>Surname: </strong>{{ user?.surname }}</p>
      <p><strong>Email: </strong>{{ user?.email }}</p>
      <p>
        <strong>Admin: </strong
        >{{ user?.is_admin ? "YES" : ("NO" | uppercase) }}
      </p>
      <div class="row d-flex justify-content-between">
        <div class="col-sm-4">
          <a
            [routerLink]="['/users']"
            class="btn btn-info"
            style="margin-top: 20px; cursor: pointer"
            >Return</a
          >
        </div>
        <div class="col-sm-4 text-end">
          <a
            (click)="deleteUser()"
            *ngIf="!sameUser"
            class="btn btn-danger"
            style="margin-top: 20px; cursor: pointer"
            >Delete User</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
