<div class="container" style="margin-top: 70px">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2 class="text-center">Add a new planet to {{ star_name }}</h2>
      <form [formGroup]="newPlanetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Planet name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="radius">Radius (km)</label>
          <input
            type="number"
            name="radius"
            id="radius"
            class="form-control"
            formControlName="radius"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="mass">Mass (earth masses)</label>
          <input
            type="number"
            name="mass"
            id="mass"
            class="form-control"
            formControlName="mass"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="density">Density (g/cm<sup>3</sup>)</label>
          <input
            type="number"
            name="density"
            id="density"
            class="form-control"
            formControlName="density"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="surface_temperature">Surface Temperature (K)</label>
          <input
            type="number"
            name="surface_temperature"
            id="surface_temperature"
            class="form-control"
            formControlName="surface_temperature"
          />
        </div>
        <div class="form-group">
          <label for="apoapsis">Apoapsis (km)</label>
          <input
            type="number"
            name="apoapsis"
            id="apoapsis"
            class="form-control"
            formControlName="apoapsis"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="periapsis">Periapsis (km)</label>
          <input
            type="number"
            name="periapsis"
            id="periapsis"
            class="form-control"
            formControlName="periapsis"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="eccentricity">Eccentricity</label>
          <input
            type="number"
            name="eccentricity"
            id="eccentricity"
            class="form-control"
            formControlName="eccentricity"
            min="0"
            max="1"
            step="0.01"
          />
        </div>
        <div class="form-group">
          <label for="orbital_period">Orbital Period (days)</label>
          <input
            type="number"
            name="orbital_period"
            id="orbital_period"
            class="form-control"
            formControlName="orbital_period"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select
            name="status"
            id="status"
            class="form-control"
            formControlName="status"
          >
            <option value="confirmed">Confirmed</option>
            <option value="candidate">Candidate</option>
            <option value="disproven">Disproven</option>
          </select>
        </div>
        <div class="form-group">
          <label for="num_moons">Number of Moons</label>
          <input
            type="number"
            name="num_moons"
            id="num_moons"
            class="form-control"
            formControlName="num_moons"
            min="0"
          />
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-sm-4">
            <button
              class="btn btn-primary"
              type="submit"
              style="margin-top: 20px"
            >
              Submit
            </button>
          </div>
          <div class="col-sm-4 text-end">
            <a
              [routerLink]="['/stars', star_id]"
              class="btn btn-info"
              style="margin-top: 20px; cursor: pointer"
              >Return</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
